.orders-container {
  text-align: center;
  padding-bottom: 25px;
}
.display-orders-items-container {
  width: 75%;
  margin: auto;
}
.display-orders-items-container > div {
  display: flex;
  margin-bottom: 25px;
  border: 1px solid var(--primary-color);
}
.display-orders-items-container-1 img {
  height: 150px;
  width: 150px;
}
.display-orders-items-container-2 {
  padding-left: 10px;
  text-align: left;
}
.orders-shop-now-btn {
  border: none;
  background: var(--primary-color);
  color: white;
  height: 40px;
  width: 150px;
  border-radius: 5px;
}
.orders-table-container {
  width: 70% !important;
  margin: auto;
  margin-top: 25px;
}
.orders-table-head {
  border: 2px solid var(--primary-color);
  background-color: darkgrey;
}
.orders-table-cell0 {
  width: 12%;
}
.orders-table-cell1 {
  font-size: 17px;
  font-weight: 600;
  width: 15%;
}
.orders-table-cell2 {
  font-size: 17px;
  font-weight: 600;
  width: 20%;
}
.orders-table-cell3 {
  font-size: 17px;
  font-weight: 600;
  width: 10%;
}
.orders-table-cell4 {
  font-size: 17px;
  font-weight: 600;
  width: 12%;
}
.orders-table-body {
  border: 2px solid var(--primary-color);
}
.orders-table-row {
  border-bottom: 1px solid black;
}
.orders-table-bcell0 {
  width: 12%;
  cursor: pointer;
}
.orders-table-bcell0 img {
  height: 70px;
  width: 70px;
  /* margin-right: 10px; */
}
.orders-table-bcell4 {
  width: 12%;
}
.orders-delete-btn {
  background: transparent;
  border: none;
}
.cancel-btn {
  background: none;
  border: none;
  font-size: 12px;
  color: blue;
  text-decoration: underline;
}
