.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
:root {
  /* --primary-color: #41634a;
  --primary-color-medium: #5a7e64;
  --primary-color-light: #7f8563;
  --secondary-color: #db7f50;
  --secondary-color-medium: #e9a37f;
  --secondary-color-light: #f7cbad; */

  --primary-color: #7a0000;
  --primary-color-medium: #8e0000;
  --primary-color-light: #8f4646;
  --secondary-color: #ffe6e6;
  --secondary-color-medium: #ffebeb;
  --secondary-color-light: #ffeded;

  /* --primary-color: #666b55;
  --primary-color-medium: #b2ba97;
  --primary-color-light: #8f4646;
  --secondary-color: #ffe6e6;
  --secondary-color-medium: #ffebeb;
  --secondary-color-light: 	#ececec; */
}
