.home-container {
  justify-content: center;
  padding-top: 15px;
}
.home-container > div {
  justify-content: center;
  padding: 20px 50px;
  display: flex;
  flex-wrap: wrap;
}
.home-container div p {
  font-size: 18px;
}
.home-container div select {
  height: 28px;
  margin-left: 8px;
}
