.about-container {
  text-align: center;
}
.about-container h2 {
  margin-top: 25px;
}
.about-container-div {
  width: 50%;
  margin: auto;
  margin-top: 45px;
  display: flex;
}
.about-file-input {
  margin-left: 8px;
}
.display-info-container,
.about-container-div > div > div > form {
  display: flex;
}
.display-info-container span {
  font-size: 20px;
  margin-left: 8px;
}
.display-profile-image-container {
  margin-left: auto;
  margin-top: 25px;
}
.display-profile-image-container img {
  width: 90px;
  height: 90px;
}
.about-login-btn {
  background: #800000;
  border: none;
  padding: 8px 15px;
  margin-top: 30px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  width: 130px;
}
