.navbar{
    background-color: rgb(35, 35, 35);
    padding: 15px 15px;
    color: white;
    text-align: left;
    justify-content: left;
}

.nav-items{
    text-decoration: none;
    color: white;
    font-size: 22px;
    margin-right: 30px;
}
.logout-btn{
    background: transparent;
    border: none;
    color: white;
    font-size: 22px;
}