.register-container {
  margin-top: 50px !important;
  text-align: left;
  color: var(--primary-color);
  padding-bottom: 25px;
  width: 80%;
  margin: auto;
}
.register-container h2 {
  margin-bottom: 25px !important;
}
.register-form {
  margin: auto;
  text-align: left;
  color: white;
}
.register-form input,
.register-form select {
  margin-bottom: 15px;
  border: 2px solid var(--primary-color);
  width: 50%;
  padding: 8px;
}
.register-form label {
  color: black;
  font-size: 17px;
  font-weight: 600;
}
.register-form-btn {
  margin-top: 15px;
  width: 150px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: white;
  padding: 10px 0;
}
